@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Trispace';
  src: url('./fonts/Trispace-VariableFont_wdth,wght.ttf');
}

:root {
  --darker: #010101;
  --lighter: #fff;
  --shadow: #666;
  --green: lightgreen;
  --purple: purple;
  --font-family-primary: 'Trispace', sans-serif;
  --lightgreen: #a9dfbf;
  --margin-size-major: 50px;
  --margin-size-minor: 15px;
  --font-size-major: 38px;
  --font-size-medium: 26px;
  --font-size-base: 20px;
  --font-size-minor: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper { /* marjoritary layout related */
  color: var(--lighter);
  background-color: var(--darker);
}

.wrapper.-light {
  color: var(--darker);
  background-color: var(--lighter);
}

.wrapper.-light .social-networks > .link {
  color: var(--purple);
}

.container { /* marjoritary content related */
  position: relative;
  margin: var(--margin-size-major) auto;
  width: 95%;
  max-width: 700px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
}

.main-header {
  padding-bottom: var(--margin-size-minor);
}

.main-header .icon-contrast {
  fill: var(--shadow);
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.main-header > .title {
  font-size: var(--font-size-base);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--shadow);
}

.main-header,
.main-content {
  margin-bottom: var(--margin-size-major);
}

.main-content > .description {
  margin-bottom: var(--margin-size-major);
  font-size: var(--font-size-medium);
  line-height: 1.8;
}

.main-content > .social-networks {
  margin-top: var(--margin-size-minor);
  font-weight: 300;
  line-height: 1.8;
}

.social-networks > .link {
  text-decoration: none;
  color: var(--green);
  border-bottom: 1px dotted var(--green);
}

.main-footer {
  padding-top: var(--margin-size-minor);
  border-top: 1px solid var(--shadow);
}

.main-footer > .copyright {
  font-weight: 300;
  font-size: var(--font-size-minor);
  color: var(--shadow);
}

@media (min-width: 768px) {
  .main-header > .description {
    font-size: var(--font-size-major);
  }

  .main-content > .social-networks {
    line-height: initial;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
