@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Trispace';
  src: url('./fonts/Trispace-VariableFont_wdth,wght.ttf');
}

:root {
  --lighter: #999;
  --darker: #333;
  --shadow: #ddd;
  --green: #1e8449;
  --font-family-primary: 'Trispace', sans-serif;
  --font-family-secondary: 'PlayfairDisplay', serif;
  --lightgreen: #a9dfbf;
  --margin-size-major: 50px;
  --margin-size-minor: 15px;
  --font-size-major: 38px;
  --font-size-medium: 32px;
  --font-size-base: 20px;
  --font-size-minor: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 700px;
  margin: var(--margin-size-major) auto;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base);
  color: var(--darker);
}

.main-header {
  padding-bottom: var(--margin-size-minor);
}

.main-header > .title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--lighter);
}

.main-header > .description {
  margin-top: var(--margin-size-major);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-medium);
}

.main-header,
.main-content {
  margin-bottom: var(--margin-size-major);
}

.main-content > .social-networks {
  margin-top: var(--margin-size-minor);
  font-family: var(--font-family-primary);
  font-weight: 300;
  line-height: 1.8;
}

.social-networks > .link {
  font-family: var(--font-family-primary);
  text-decoration: none;
  color: var(--green);
  border-bottom: 1px dotted var(--lightgreen);
}

.social-networks > .link:hover {
  border-bottom: 1px dotted var(--green);
}

.main-footer {
  padding-top: var(--margin-size-minor);
  font-family: var(--font-family-primary);
  border-top: 1px solid var(--shadow);
}

.main-footer > .copyright {
  font-weight: 300;
  font-size: var(--font-size-minor);
  color: var(--lighter);
}

@media (min-width: 768px) {
  .main-header > .description {
    font-size: var(--font-size-major);
  }

  .main-content > .social-networks {
    line-height: initial;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
